/* Theme */
@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');

main {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

  color: #b1cc4c;
}

main .intro{
    font-family: 'Elsie Swash Caps', cursive !important;
    /* text-transform: uppercase; */
}

.icons-social a {
  color: #b1cc4c;
  
}

.icons-social a svg path {
  fill: #d63f3f;
}

.icons-social a:hover{
    color: #687731;
}
